/* Container styles */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: lightgrey;
}

/* Header styles */

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* Messing around with search bar styles */
.search {
  display: flex;
  align-items: center;
  padding: 20px;
}

.search-bar {
  /* Look to  */
  min-width: 100px;
  width: 100%;
  height: 20px;
  border: 2px solid black;
  border-radius: 20px;
}

.search img {
  width: 20px;
  height: auto;
}

/* Nav styles */

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.welcome {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.image {
  /* Change from class to img element later on when the user profile picture is added */
  grid-row: 1/3;
}

/* Sidebar styles */

.sidebar {
  grid-row: 1 / 4;
  background-color: red;
}

/* Trending section styles */
.trending {
  grid-column: 2 / 3;
}

/* List styles */
ul {
  list-style-type: none;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
