/* Setting margin & padding to 0 by default */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #d52941;
}

/* Font styles */
/* Roboto */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Container styles */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* Container div styles */
.container div {
  padding: 15px;
}

/* Header styles */

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #fff8e8;
}

.header-items {
  font-weight: bold;
}

/* .menu ul > li > img {
  width: 20px;
  border-radius: 20px;
  border: 2px solid black;
} */

/* Messing around with search bar styles */
.search {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.search-bar {
  /* Look to  */
  min-width: 100px;
  width: 80%;
  background-color: lightgrey;
  border-radius: 20px;
}

.search img {
  width: 20px;
  height: auto;
}

/* Nav styles */

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff8e8;
  box-shadow: 0px 3px 0px 0px #fcd581;
}

.message,
.name {
  font-weight: bold;
}

.message {
  font-size: 12px;
}

.name {
  font-size: 20px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu img {
  width: 20px;
}

.nav-items {
  background-color: #d52941;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
}

.welcome {
  display: flex;
  align-items: center;
  padding: 20px;
}

/* Main content styles */

/* Had to type it like this for specificity */
.main-content .column-one,
.main-content .column-two {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  height: 100%;
}

/* Column One */
.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projects .projects-content {
  background-color: #d52941;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 0;
}

/* Column Two */

.announcements {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.announcements-content {
  background-color: #fff8e8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px #000;
}

.announcements-content .title {
  font-size: 14px;
}
.announcements-content p {
  font-size: 11px;
}

/* Dashboard styles */

.sidebar img {
  /* Hex Color: #D52941 */
  filter: invert(96%) sepia(3%) saturate(3254%) hue-rotate(308deg)
    brightness(109%) contrast(102%);
}

.sidebar .dashboard {
  display: flex;
  padding: 0;
  align-items: center;
  gap: 7px;
}

.dashboard img {
  width: 50px;
}

.dashboard p {
  font-weight: bold;
  font-size: 25px;
}

.main-menu ul,
.sub-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-menu div,
.sub-menu div {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 20px;
  font-weight: bold;
  font-size: 18px;
}

.main-menu img,
.sub-menu img {
  width: 20px;
}
/* Card styles */

/* .projects p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
} */

.projects-content .card {
  background-color: #fff8e8;
  color: black;
  text-align: left;
  height: 200px;
  border-left: 5px solid gold;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 2px #000;
}

.title {
  font-weight: bold;
}

.content-title {
  font-weight: bold;
  font-size: 18px;
  color: #fff8e8;
}

.card .info {
  padding: 15px 0 0 10px;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.icons img {
  width: 20px;
}

/* Sidebar styles */

.sidebar {
  grid-row: 1 / 4;
  background-color: #990d35;
  color: #fff8e8;
}

/* Trending section styles */
.trending {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-two .trending-content {
  background-color: #fff8e8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px #000;
  padding: 10px;
}

.accounts {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accounts .details {
  padding: 0;
}

.details p {
  font-size: 14px;
}

.username {
  font-weight: bold;
}

/* List styles */
ul {
  list-style-type: none;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 25px;
}

/* Profile pic styles */
.profile-pic {
  border-radius: 20px;
}

.profile-pic.small {
  width: 30px;
}

.profile-pic.medium {
  width: 50px;
}

.PALETTE {
  color: #fff;
  color: #fff8e8;
  color: #fcd581;
  color: #d52941;
  color: #990d35;
}
